/* Nav Bar CSS */
.navbar-custom {    
   background: #2C3E50;  
   text-transform: uppercase;
   font-weight: 700;   
   border: none;    
}

 .navbar-custom .navbar-brand {
   color: white;    
 }
 .navbar-custom .navbar-brand:hover{
   color: white;
 }  

 .navbar-custom .navbar-nav li a {
   color: white;
 }

/* Header CSS */
 header {
   background: #15C2D2;
   color: white;
 } 

/* Section CSS */
section {   
   padding: 100px 0;   
 } 


/* About Section CSS */
 section#about {   
   background: #15C2D2;    
   color: white;   
 }   


/* Portfolio Item CSS */



/* Footer CSS */
 footer {    
   color: white;     
 } 
